@import url('./variaveis.css');
@import url('./header.css');
@import url("./destaque.css");
@import url("./quem-somos-nos.css");
@import url("./localizacao.css");
@import url("./contato.css");
@import url("./footer.css");

body {
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Tilt Warp', cursive; */
    font-family: 'Titillium Web', sans-serif;
}


.section-padrao {
    padding: 30px 50px;
}

.manutencao {
    background-color: var(--cor-amarelo-padrao);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-produtos{
    color: var(--cor-branca);
    text-align: center;
    font-size:60px;
    font-weight: bold;
}

@media screen and (min-width:760px) {
    .info-produtos {
        font-size: 120px;
    }
}